{{ ansible_managed | comment }}

{% if rstudio_workbench_load_balancer_config_override is defined and rstudio_workbench_rsession_config_override|length %}
{{ rstudio_workbench_load_balancer_config_override }}
{% endif %}
