{{ ansible_managed | comment }}

{% if rstudio_workbench_rserver_config_override is defined and rstudio_workbench_rserver_config_override|length %}
{{ rstudio_workbench_rserver_config_override }}
{% endif %}
