{{ ansible_managed | comment }}

{% if rstudio_workbench_vscode_config is defined %}
{% from "macros/ini_encode_macro.j2" import ini_encode with context -%}
{{ ini_encode(rstudio_workbench_vscode_config) }}
{% endif %}
