---
name: Release
'on':
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:

  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v4

      - name: Publish to Galaxy
        uses: robertdebock/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.ANSIBLE_GALAXY_TOKEN }}
          git_branch: main
